@layer components {
  .layout {
    --sidebar-width: 260px;
  }

  .preload {
    @apply fixed inset-0 z-[5990] flex items-center justify-center bg-white text-3xl transition;

    &--loaded {
      @apply opacity-0;
    }
  }

  .drawer-backdrop {
    @apply z-[5010];
  }

  .sidebar {
    @apply fixed z-[5020] -ml-5 flex min-h-screen w-[var(--sidebar-width)] -translate-x-full transform flex-col bg-gray-50 shadow-lg transition-all duration-300 lg:ml-0 lg:translate-x-0 lg:transition-none;

    &--drawer {
      @apply z-[5040] ml-0 translate-x-0;
    }

    &__scroll-wrapper {
      @apply absolute -right-3 bottom-0 left-0 top-16;
    }

    &__scroll {
      @apply absolute h-full w-full;

      & .simplebar-wrapper {
        @apply relative z-10;
      }

      & .simplebar-track.simplebar-vertical {
        @apply right-3;
      }

      & .navigation {
        @apply mr-3;
      }
    }
  }

  .height-top-bar {
    @apply h-16;
  }

  .logo {
    @apply height-top-bar flex items-center bg-white px-5 lg:shadow;
  }

  .wrapper {
    @apply flex min-h-screen flex-col pb-16 lg:ml-[var(--sidebar-width)] lg:pb-0;
  }

  .navbar {
    @apply sticky top-0 z-[5010] flex h-16 w-full bg-white bg-opacity-90 px-2.5 shadow lg:px-6;

    &__icon-link {
      @apply inline-flex items-center rounded p-2 text-gray-500 hover:text-scheme-500;

      &[aria-expanded="true"],
      &[aria-describedby] {
        @apply bg-scheme-100 text-scheme-500;
      }
    }

    @screen lg {
      &__left {
        @apply flex items-center transition-all lg:max-w-[33.3%];

        .search-mode & {
          @apply overflow-hidden lg:max-w-[0%];
        }
      }
    }

    &__left,
    &__center,
    &__right {
      @apply flex items-center;
    }

    &__left,
    &__right {
      @apply transition-all lg:max-w-[33.3%];

      .search-mode & {
        @apply overflow-hidden lg:max-w-[0%];
      }
    }

    &__center {
      @apply flex-1;
    }

    &__right {
      @apply max-w-[50%] space-x-2;

      .search-mode & {
        @apply max-w-[0%];
      }

      & > div {
        @apply flex items-center;
      }
    }
  }

  .bottombar {
    @apply fixed top-[100vh] -mx-3 h-16 w-full -translate-y-full transform justify-center bg-white shadow;
  }

  @screen lg {
    .bottombar {
      @apply static m-0 h-auto w-auto translate-y-0 bg-transparent shadow-none;
    }
  }

  .account {
    @apply flow-root;

    &__avatar {
      @apply float-left transition-all;
    }

    &__user {
      @apply my-1 ml-12 hidden flex-col leading-tight lg:flex;

      &__name {
        max-width: 6rem;
        @apply block truncate font-semibold;
      }

      &__role {
        @apply block text-xs text-gray-500;
      }
    }
  }

  .main {
    @apply min-h-0 flex-1;

    --main-height: calc(100vh - theme("spacing.32"));
    @screen lg {
      --main-height: calc(100vh - theme("spacing.16"));
    }

    &-backdrop {
      @apply z-[4010];
    }

    &__full {
      height: var(--main-height);

      &--least {
        min-height: var(--main-height);
      }
    }
  }
}
