<div class="logo">
    <a class="inline-flex items-center">
        <i data-icon="feather__wind" class="text-primary-600 transform rotate-180 mr-2 w-6 h-6"></i>
        <span class="text-2xl italic transform -skew-x-3 font-semibold text-gray-500">Skewind</span>
    </a>
</div>