<div>
  <a
    id="messagesDropdownToggle"
    href="javascript:;"
    class="navbar__icon-link"
    data-dropdown-toggle
    data-tippy-placement="bottom-end"
    data-tippy-offset="[0, 15]"
  >
    <span class="badged-icon">
      <i data-icon="feather__messageSquare"></i>
      <span class="badged-icon__badge badge bg-info-500">2</span>
    </span>
  </a>
  <div class="popover">
    <div class="messages">
      <div class="messages__header">
        <h4>Messages</h4>
        <a href="javascript:;" data-dropdown-toggle data-tippy-placement="bottom-end">
          <i data-icon="heroiconsOutline__dotsHorizontal"></i>
        </a>
        <ul class="dropdown">
          <li class="dropdown__heading">
            <h4 class="text-sm uppercase font-bold text-gray-500">Chat Settings</h4>
            <p class="font-normal text-xs text-gray-400">Customize your chat experience.</p>
          </li>
          <li class="dropdown__divider"></li>
          <li class="dropdown__item">
            <a href="#">
              <i data-icon="feather__check"></i>
              Mark all as read
            </a>
          </li>
          <li class="dropdown__item">
            <a href="#">
              <i data-icon="feather__settings"></i>
              Notification settings
            </a>
          </li>
        </ul>
      </div>
      <div class="messages__content scrollbar max-h-96" data-scrollbar>
        <div class="message message--unread">
          <a href="#">
            <span class="avatar">
              <img src="/assets/demo/avatar-249eda8dc8c1894744b239ddb17172d1.jpg" alt="Hadiyat Avatar" class="avatar__object" />
            </span>
            <span class="flex-1">
              <span class="message__title"> Hadiyat Virgiawan </span>
              <span class="message__body"> You sent an attachment. </span>
              <span class="message__date"> 16 hours ago </span>
            </span>
          </a>
        </div>
        <div class="message">
          <a href="#">
            <span class="avatar">
              <img src="/assets/demo/avatar-21f2a6af8bfb8f96cb4114145ce4133f.jpg" alt="John Low Avatar" class="avatar__object" />
            </span>
            <span class="flex-1">
              <span class="message__title"> John Low </span>
              <span class="message__body"> Wait a sec.. </span>
              <span class="message__date"> 22 hours ago </span>
            </span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
