<div>
  <a
    id="notificationsDropdownToggle"
    href="javascript:;"
    class="navbar__icon-link"
    data-dropdown-toggle
    data-tippy-placement="bottom-end"
    data-tippy-offset="[0, 15]"
  >
    <span class="badged-icon">
      <i data-icon="feather__bell"></i>
      <span class="badged-icon__badge badge bg-red-500">1</span>
    </span>
  </a>
  <div class="popover">
    <div class="notifications">
      <div class="notifications__header">
        <h4>Notifications</h4>
        <a href="javascript:;" class="notifications__header__action"> Mark all as read </a>
      </div>
      <div class="notifications__content scrollbar max-h-96" data-scrollbar>
        <div class="notifications__group">
          <div class="notifications__date">Today</div>
          <a href="#" class="notification notification--unread">
            <span class="notification__icon avatar">
              <span class="avatar__object bg-blue-400">MC</span>
            </span>
            <span class="notification__text">
              <span> <strong>Margo Corn</strong> has invited you to the project <strong>Untitled</strong> </span>
            </span>
            <span class="notification__date">2 min</span>
          </a>
          <a href="#" class="notification">
            <span class="notification__icon avatar">
              <span class="avatar__object bg-green-400">EH</span>
            </span>
            <span class="notification__text">
              <span> <strong>Elsa Hoffman</strong> removed you </span>
            </span>
            <span class="notification__date">1 hr</span>
          </a>
        </div>
        <div class="notifications__group">
          <div class="notifications__date">Yesterday</div>
          <a href="#" class="notification">
            <span class="notification__icon avatar">
              <span class="avatar__object bg-yellow-400">MP</span>
            </span>
            <span class="notification__text">
              <span> <strong>Nadya Pasutri</strong> mentioned you in a comment in the project <strong>Untitled 2</strong> </span>
              <span class="mt-2 block text-gray-400">"Mike, we need to fix this asap"</span>
            </span>
            <span class="notification__date">14:12</span>
          </a>
          <a href="#" class="notification">
            <span class="notification__icon avatar">
              <span class="avatar__object bg-indigo-400">KK</span>
            </span>
            <span class="notification__text">
              <span> <strong>Konstantin Konstantinovich</strong> removed you from <strong>Mobile Dolfin</strong> </span>
            </span>
            <span class="notification__date">12:03</span>
          </a>
        </div>
        <div class="notifications__group">
          <div class="notifications__date">25 Mar</div>
          <a href="#" class="notification">
            <span class="notification__icon avatar">
              <span class="avatar__object bg-yellow-400">NP</span>
            </span>
            <span class="notification__text">
              <span> <strong>Nadya Pasutri</strong> accepted your invitation the project <strong>Untitled 2</strong> </span>
            </span>
            <span class="notification__date">09:45</span>
          </a>
          <a href="#" class="notification">
            <span class="notification__icon avatar">
              <span class="avatar__object bg-green-400">KK</span>
            </span>
            <span class="notification__text">
              <span> <strong>Siti</strong> accepted the invitation to the project <strong>Tablature</strong> </span>
            </span>
            <span class="notification__date">08:15</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
;
