<div class="button-group">
    <button type="button" class="button button--outline button--xs" data-dropdown-toggle="#splitButtonDropdown"
        data-tippy-placement="bottom-end" aria-haspopup="true" class="button button--icon">
        <i data-icon="feather__moreVertical" class="transform transition"></i>
    </button>
</div>
<ul id="splitButtonDropdown" class="dropdown">
    <li class="dropdown__item">
        <a href="#" class="flex justify-between gap-1">
            <div class="flex items-center">
                <span>Exbir</span>
            </div>
            <div class="flex align-middle hidden">
                <i data-icon="feather__check"></i>
            </div>
        </a>
    </li>
    <li class="dropdown__item">
        <a href="#" class="flex justify-between gap-1">
            <div class="flex items-center">
                <span>Ocultar</span>
            </div>
            <div class="flex align-middle">
                <i data-icon="feather__check"></i>
            </div>
        </a>
    </li>
    <li class="dropdown__divider"></li>
    <li class="dropdown__item edit">
        <a href="#"><i data-icon="feather__edit"></i><span>Editar</span></a>
    </li>
    <li class="dropdown__item">
        <a href="#"><i data-icon="feather__trash2"></i><span>Excluir</span></a>
    </li>
</ul>

