<div class="sidebar__scroll-wrapper">
    <div id="sidebarNavScroll" class="sidebar__scroll scrollbar" data-scrollbar>
        <nav class="navigation">
            <!-- BEGIN: Dashboard -->
            <div class="navigation__title">DASHBOARDS<small>Useful dashboard designs</small></div>
            <ul>
                <li class="navigation__item">
                    <a href="/" class="navigation__item__toggler">
                        <span class="navigation__item__icon">
                            <i data-icon="feather__shoppingBag"></i>
                        </span>
                        <span class="navigation__item__title">Ecommerce</span>
                    </a>
                </li>
                <li class="navigation__item">
                    <a href="/dashboard-analytics.html" class="navigation__item__toggler">
                        <span class="navigation__item__icon">
                            <i data-icon="feather__barChart2"></i>
                        </span>
                        <span class="navigation__item__title">Analytics</span>
                    </a>
                </li>
            </ul>
            <!-- END: Dashboard -->
            <!-- BEGIN: Applications -->
            <div class="navigation__title">APPLICATIONS<small>Prebuilt application designs</small></div>
            <ul>
                <li class="navigation__item">
                    <a href="/produtos" class="navigation__item__toggler">
                        <span class="navigation__item__icon">
                            <i data-icon="feather__shoppingBag"></i>
                        </span>
                        <span class="navigation__item__title">Produtos</span>
                    </a>
                </li>
                <li class="navigation__item">
                    <a href="/categorias" class="navigation__item__toggler">
                        <span class="navigation__item__icon">
                            <i data-icon="heroiconsOutline__collection"></i>
                        </span>
                        <span class="navigation__item__title">Categorias</span>
                    </a>
                </li>
                <li class="navigation__item">
                    <a href="/contatos" class="navigation__item__toggler">
                        <span class="navigation__item__icon">
                            <i data-icon="feather__users"></i>
                        </span>
                        <span class="navigation__item__title">Contatos</span>
                    </a>
                </li>
                <li class="navigation__item">
                    <a href="/configuracoes" class="navigation__item__toggler">
                        <span class="navigation__item__icon">
                            <i data-icon="dripicons__gear"></i>
                        </span>
                        <span class="navigation__item__title">Configurações</span>
                    </a>
                </li>

            </ul>
            <!-- END: Applications -->
        </nav>
    </div>
</div>

<script>
    $(document).ready(function () {
        activeMenuItem();
    });

    function activeMenuItem() {
        let current = location.pathname.split('/')[1]; // Pega o nome após a primeira barra

        if (current === '') {
            $('.navigation__item').first().addClass('navigation__item--active');
        } else {
            $('.navigation__item a').each(function () {
                let $this = $(this);
                if ($this.attr('href').split('/')[1] === current) { // Compara com o nome após a primeira barra no href
                    $('.navigation__item').removeClass('navigation__item--active');
                    $this.parent().addClass('navigation__item--active');
                }
            });
        }
    }

</script>