<div class="sidebar__scroll-wrapper">
    <div id="sidebarNavScroll" class="sidebar__scroll scrollbar" data-scrollbar>
        <nav class="navigation">
            <!-- BEGIN: Dashboard -->
            <div class="navigation__title">DASHBOARDS<small>Analise seu desempenho</small></div>
            <ul>
                <li class="navigation__item">
                    <a href="/" class="navigation__item__toggler">
                        <span class="navigation__item__icon">
                            <i data-icon="feather__shoppingBag"></i>
                        </span>
                        <span class="navigation__item__title">Ecommerce</span>
                    </a>
                </li>
                <li class="navigation__item">
                    <a href="/dashboard-analytics.html" class="navigation__item__toggler">
                        <span class="navigation__item__icon">
                            <i data-icon="feather__barChart2"></i>
                        </span>
                        <span class="navigation__item__title">Analytics</span>
                    </a>
                </li>
            </ul>
            <!-- END: Dashboard -->
            <!-- BEGIN: ERP -->
            <div class="navigation__title">ERP<small>Gerencie seu e-commerce</small></div>
            <ul>
                <!-- <li class="navigation__item">
                    <a href="javascript:;" class="navigation__item__toggler" data-collapse-toggle="" >
                        <span class="navigation__item__icon">
                            <i data-icon="heroiconsOutline__collection"></i>
                        </span>
                        <span class="navigation__item__title">Pedidos</span>
                        <i class="navigation__item__chevron icon icon--feather" data-icon="heroiconsSolid__chevronDown"></i>
                    </a>
                    <nav class="navigation__item__content collapse" data-collapse-group="sidenav">
                        <ul class="navigation-level">
                            <li class="navigation-level__item">
                                <a href="/layouts-empty.html">Abertos</a>
                            </li>
                            <li class="navigation-level__item">
                                <a href="/layouts-empty.html">Encerrados</a>
                            </li>
                            
                        </ul>
                    </nav>
                </li> -->
                <li class="navigation__item">
                    <a href="/pedidos" class="navigation__item__toggler">
                        <span class="navigation__item__icon">
                            <i data-icon="dripicons__shoppingBag"></i>
                        </span>
                        <span class="navigation__item__title">Pedidos</span>
                    </a>
                </li>
                <li class="navigation__item">
                    <a href="/produtos" class="navigation__item__toggler">
                        <span class="navigation__item__icon">
                            <i data-icon="feather__box"></i>
                        </span>
                        <span class="navigation__item__title">Produtos</span>
                    </a>
                </li>
                <li class="navigation__item">
                    <a href="/combos" class="navigation__item__toggler">
                        <span class="navigation__item__icon">
                            <i data-icon="ionicons__extensionPuzzleOutline"></i>
                        </span>
                        <span class="navigation__item__title">Combos</span>
                    </a>
                </li>
                <li class="navigation__item">
                    <a href="/categorias" class="navigation__item__toggler">
                        <span class="navigation__item__icon">
                            <i data-icon="heroiconsOutline__collection"></i>
                        </span>
                        <span class="navigation__item__title">Categorias</span>
                    </a>
                </li>
                <li class="navigation__item">
                    <a href="/etiquetas" class="navigation__item__toggler">
                        <span class="navigation__item__icon">
                            <i data-icon="feather__tag"></i>
                        </span>
                        <span class="navigation__item__title">Etiquetas</span>
                    </a>
                </li>
                <li class="navigation__item">
                    <a href="/promocoes" class="navigation__item__toggler">
                        <span class="navigation__item__icon">
                            <i data-icon="ionicons__megaphoneOutline"></i>
                        </span>
                        <span class="navigation__item__title">Promoções</span>
                    </a>
                </li>
                <li class="navigation__item">
                    <a href="/contatos" class="navigation__item__toggler">
                        <span class="navigation__item__icon">
                            <i data-icon="feather__users"></i>
                        </span>
                        <span class="navigation__item__title">Contatos</span>
                    </a>
                </li>
            </ul>
            <!-- END: ERP -->
            <!-- BEGIN: OUTROS -->
            <div class="navigation__title">OUTROS</div>
            <ul>
                <li class="navigation__item">
                    <a href="/configuracoes" class="navigation__item__toggler">
                        <span class="navigation__item__icon">
                            <i data-icon="dripicons__gear"></i>
                        </span>
                        <span class="navigation__item__title">Configurações</span>
                    </a>
                </li>
            </ul>
            <!-- END: OUTROS -->
        </nav>
    </div>
</div>

<script>
    $(document).ready(function () {
        activeMenuItem();
    });

    function activeMenuItem() {
        let current = location.pathname.split('/')[1]; // Pega o nome após a primeira barra

        if (current === '') {
            $('.navigation__item').first().addClass('navigation__item--active');
        } else {
            $('.navigation__item a').each(function () {
                let $this = $(this);
                if ($this.attr('href').split('/')[1] === current) { // Compara com o nome após a primeira barra no href
                    $('.navigation__item').removeClass('navigation__item--active');
                    $this.parent().addClass('navigation__item--active');
                }
            });
        }
    }
</script>