@layer components {
  .avatar {
    @apply inline-block w-14 relative font-bold text-sm;

    &:before {
      content: '';
      padding-top: 100%;
      @apply block w-full;
    }

    &__object {
      --avatar-bg-color: theme(colors.scheme.500 / var(--tw-bg-opacity));
      --avatar-text-color: theme(colors.white / var(--tw-text-opacity));
      @apply absolute w-full h-full inset-0 object-cover flex items-center justify-center rounded-full scheme-gray bg-[color:var(--avatar-bg-color)] text-[color:var(--avatar-text-color)];

      &--soft {
        --avatar-bg-color: theme(colors.scheme.200 / var(--tw-bg-opacity));
        --avatar-text-color: theme(colors.scheme.600 / var(--tw-text-opacity));
      }
    }
  }
}
