@layer components {
  .avatar {
    @apply relative inline-block w-14 text-sm font-bold;

    &:before {
      content: '';
      padding-top: 100%;
      @apply block w-full;
    }

    &__object {
      --avatar-bg-color: theme(colors.scheme.500 / var(--tw-bg-opacity));
      --avatar-text-color: theme(colors.white / var(--tw-text-opacity));
      @apply absolute inset-0 flex h-full w-full items-center justify-center rounded-full bg-[color:var(--avatar-bg-color)] object-cover text-[color:var(--avatar-text-color)] scheme-gray;

      &--soft {
        --avatar-bg-color: theme(colors.scheme.200 / var(--tw-bg-opacity));
        --avatar-text-color: theme(colors.scheme.600 / var(--tw-text-opacity));
      }
    }
  }
}
