@layer components {
  .badge {
    --badge-bg-color: theme(colors.scheme.500 / var(--tw-bg-opacity));
    --badge-text-color: theme(colors.scheme.200 / var(--tw-text-opacity));
    --badge-border-color: theme(colors.scheme.500 / var(--tw-border-opacity));
    --badge-icon-size: theme(width.3);
    @apply inline-flex min-h-[12px] min-w-[12px] items-center justify-center gap-2 rounded border-opacity-100 bg-scheme-500 bg-opacity-100 px-2 text-xs leading-relaxed text-white scheme-gray;

    &,
    &--solid {
      @apply border border-[color:var(--badge-border-color)] bg-[color:var(--badge-bg-color)] text-[color:var(--badge-text-color)];

      & .icon {
        @apply transform;
      }
    }

    &--soft {
      --badge-bg-color: theme(colors.scheme.100 / var(--tw-bg-opacity));
      --badge-text-color: theme(colors.scheme.500 / var(--tw-text-opacity));
      --badge-border-color: theme(colors.scheme.100 / var(--tw-border-opacity));
    }

    &--flat {
      --badge-text-color: theme(colors.scheme.600 / var(--tw-text-opacity));
      @apply border-transparent bg-transparent shadow-none;
    }

    &--flat&--soft {
      --badge-text-color: theme(colors.scheme.400 / var(--tw-text-opacity));

      &.button__badge {
        --badge-text-color: theme(colors.scheme.200 / var(--tw-text-opacity));
      }
    }

    &--outline {
      --badge-text-color: theme(colors.scheme.500 / var(--tw-text-opacity));
      --badge-border-color: theme(colors.scheme.500 / var(--tw-border-opacity));
      @apply bg-transparent shadow-none;
    }

    &--outline&--soft {
      --badge-border-color: theme(colors.scheme.200 / var(--tw-border-opacity));

      &.button__badge {
        --badge-text-color: theme(colors.scheme.200 / var(--tw-text-opacity));
      }
    }

    &--dot {
      &:before {
        @apply h-2 w-2 rounded-full bg-[color:var(--badge-text-color)] content-[''];
      }
    }

    & .icon {
      width: var(--badge-icon-size);
      height: var(--badge-icon-size);
    }

    &--icon {
      @apply h-[1.35rem] w-[1.35rem] px-0 py-0;

      & .icon:first-of-type:last-of-type,
      & .badged-icon {
        @apply h-1/2 w-1/2 translate-x-0;
      }
    }
  }

  .avatar__badge {
    font-size: 0.6rem;
    @apply absolute bottom-0 left-full -translate-x-4 transform rounded-full border border-white px-[.3rem] leading-tight;
  }

  .badged-icon {
    @apply relative inline-block;

    &__badge {
      font-size: 0.6rem;
      @apply absolute -top-1 left-full -translate-x-3 transform rounded-full border px-[.3rem] leading-snug;

      &.badge,
      &.badge--solid {
        --badge-border-color: theme(colors.gray.50 / var(--tw-border-opacity));
      }

      &.badge--outline {
        --badge-bg-color: theme(colors.gray.50 / var(--tw-bg-opacity));
        --badge-border-color: theme(colors.scheme.600 / var(--tw-border-opacity));
        @apply bg-[color:var(--badge-bg-color)];
      }

      &.badge--outline.badge--soft {
        --badge-border-color: theme(colors.scheme.300 / var(--tw-border-opacity));
      }

      &.badge--flat {
        --badge-bg-color: theme(colors.gray.200 / var(--tw-bg-opacity));
        @apply bg-[color:var(--badge-bg-color)];
      }

      &.badge--flat.badge--soft {
        --badge-bg-color: theme(colors.gray.100 / var(--tw-bg-opacity));
      }
    }
  }
}
