@layer components {
  @keyframes barberpole {
    100% {
      background-position: 100% 100%;
    }
  }

  .progress {
    --progress-bg: theme(colors.scheme.500 / var(--tw-bg-opacity));
    --progress-bar-animation: none;
    @apply relative h-3 max-h-10 rounded bg-gray-200 scheme-primary;

    &--striped {
      --progress-bg: repeating-linear-gradient(
        45deg,
        theme(colors.scheme.500 / 100),
        theme(colors.scheme.500 / 100) theme(width.2),
        theme(colors.scheme.600 / 100) theme(width.2),
        theme(colors.scheme.600 / 100) theme(width.4)
      );
    }

    &--animated {
      --progress-bar-animation: barberpole 20s linear infinite;
    }

    &:before {
      @apply absolute -bottom-5 -top-5 left-0 right-0 content-[''];
    }

    &__bar {
      animation: var(--progress-bar-animation);
      background: var(--progress-bg);
      background-size: 200% 200%;
      @apply absolute left-0 z-10 flex h-full w-0 items-center justify-end rounded text-xs text-white after:block after:w-2 after:content-[''];
    }

    &__label {
      @apply absolute left-full top-1/2 -translate-x-1/2 -translate-y-1/2 rounded-full bg-scheme-500 px-2 text-sm font-bold text-white opacity-0 transition;
    }

    &:hover &__label {
      @apply opacity-100;
    }
  }
}
