@layer components {
  .tabs {
    -ms-overflow-style: none;
    scrollbar-width: none;
    @apply flex items-end font-semibold text-center gap-2 overflow-x-auto overflow-y-hidden;

    &::-webkit-scrollbar {
      display: none;
    }

    &,
    &--default {
      @apply border-b;
    }

    &--pills {
      @apply border-none;
    }
  }

  .tab {
    @apply flex py-3 px-5 gap-x-2 items-center justify-center relative -bottom-px z-10;

    .tabs &,
    .tabs--default & {
      @apply rounded-t hover:bg-gray-100 hover:border-gray-200 border border-transparent transition;
    }

    .tabs &--active,
    .tabs--default &--active {
      @apply bg-gray-100 border-gray-200 text-scheme-500;
    }

    .tabs--underline & {
      @apply border-0 border-b-[3px] hover:bg-transparent hover:border-gray-300 hover:text-gray-500;
    }

    .tabs--underline &--active {
      @apply bg-transparent border-scheme-500;
    }

    .tabs--pills & {
      @apply rounded-full border-0 hover:bg-scheme-100;
    }

    .tabs--pills &--active {
      @apply bg-scheme-500 hover:bg-scheme-500 text-white hover:text-scheme-100;
    }
  }
}
