@layer components {
  .tabs {
    -ms-overflow-style: none;
    scrollbar-width: none;
    @apply flex items-end gap-2 overflow-x-auto overflow-y-hidden text-center font-semibold;

    &::-webkit-scrollbar {
      display: none;
    }

    &,
    &--default {
      @apply border-b;
    }

    &--pills {
      @apply border-none;
    }
  }

  .tab {
    @apply relative -bottom-px z-10 flex items-center justify-center gap-x-2 px-5 py-3;

    .tabs &,
    .tabs--default & {
      @apply rounded-t border border-transparent transition hover:border-gray-200 hover:bg-gray-100;
    }

    .tabs &--active,
    .tabs--default &--active {
      @apply border-gray-200 bg-gray-100 text-scheme-500;
    }

    .tabs--underline & {
      @apply border-0 border-b-[3px] hover:border-gray-300 hover:bg-transparent hover:text-gray-500;
    }

    .tabs--underline &--active {
      @apply border-scheme-500 bg-transparent;
    }

    .tabs--pills & {
      @apply rounded-full border-0 hover:bg-scheme-100;
    }

    .tabs--pills &--active {
      @apply bg-scheme-500 text-white hover:bg-scheme-500 hover:text-scheme-100;
    }
  }
}
